CNAME
LICENSE
package.json
package-lock.json
**/node_modules/**

.DS_Store
.history
.editorconfig
.eslintcache
.eslintignore
.gitignore
.prettierignore

docker
Dockerfile*
.dockerignore

yarn-error.log
*.lock
*.png
*.toml

/dist
/build
/public
**/*.svg

.umi
.umi-production
.git
**/.umi/**
**/.umi-production/**
**/dist/**
**/lib/**
**/es/**
**/__snapshots__/**
**/.node/**

**/temp/**
*.md
